<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.svg"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>短链生成</title>
    <script src="/static/js/alpine.js"></script>
    <script src="/static/js/qrcode.min.js"></script>
</head>
<body>
<header><h1>short</h1></header>
    <main x-data="app" x-cloak>
        <p x-show.transition.opacity="alert" :class="alert?.type" x-html="alert?.message"></p>
        <div :class="showQRCode?.type" id="qrcode-container"></div>
        <label>
            <input placeholder="输入要缩短的网址..." x-model="url" x-ref="url" />
        </label>
        <details>
            <summary>自定义设置</summary>
            <div>
                <label>
                    <input placeholder="slug" x-model="slug" />
                </label>
                <small>Slug 默认是随机生成的短 id。</small>
            </div>
        </details>
        <button :class="{ loading }" :disabled="loading || isValidated()" @click="submit($refs, $nextTick)">生成</button>
    </main>

<script>
    const app = {
        url: '',
        slug: '',
        alert: null,
        showQRCode: null,
        loading: false,
        isValidated(){
            return !/^https?:\/\/.{3,}/.test(this.url)
        },
        submit($refs, $nextTick){
            if (!this.url) {
                this.alert = { type: 'error', message: '缺少必需的参数：url。' }
                return
            }

            if (this.isValidated()) {
                this.alert = { type: 'error', message: '非法格式：url。' }
                return
            }

            this.alert = null
            this.showQRCode = null
            this.loading = true

            const body = { url: this.url }
            if (this.slug) body.slug = this.slug
            fetch("/add", {
                method: 'POST',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify(body)
            }).then(res => res.json())
                .then(res => {
                    this.loading = false
                    if (res.status === "error") {
                        this.alert = { type: 'error', message: res.message }
                        return
                    }
                    this.url = res.message
                    document.getElementById('qrcode-container').innerHTML = "";
                    new QRCode(document.getElementById('qrcode-container'),{
                        text: this.url,
                        width: 128,
                        height: 128,
                    })
                    $nextTick(() => {
                        $refs.url.select();
                        navigator.clipboard.writeText($refs.url.value)
                            .then(() => {
                                this.showQRCode = {type: 'success'}
                                // this.alert = { type: 'success', message: '成功'};
                            })
                            .catch((error) => {
                                this.alert = { type: 'error', message: '生成链接' };
                                console.error('复制失败:', error);
                            });
                    });

                })
                .catch(e => {
                    this.alert = { type: 'error', message: e.message }
                    this.loading = false
                })
        }
    }
</script>

</body>
<footer>
    © 2023 <a href="https://github.com/xia0ne/url-GO-to" target="_blank">YuRuiH</a>
</footer>
</html>
